body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* padding: 20px; */
    margin: 0;
}

.navBar {
    display: flex;
    padding: 15px;
    height: fit-content;
    justify-content:space-between;
    background-color: gray;
}

.navBar > h4 {
    height: fit-content;
    margin: 0;
    cursor: pointer;
    background-color: coral;
    border-radius: 8px;
    padding: 5px;

}

.navBar > h4:hover {
    transform: scale(1.1);
}
#mainContainerForTokenCards {
    margin: 5px;
    padding: 10px;
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
}
.cardForTokens {
    display: flex;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 20px;
    width: fit-content;
    border-radius: 10px;

}
.leftPartOfCardForTokens>h4 {
    margin-top: 0;
}
.leftPartOfCardForTokens > h5 {
    margin-bottom: 0;
}


.rightPartOfCardForTokens {
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
    
}
/* ################################################################################################################################ */

#accountsContainerWrapper {
    width: 100%;
    display: flex;
    justify-content: center;

}

.accountsContainer {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.accountsContainer h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.accountsContainer h2 {
    font-size: 1.2em;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
}

.accountsContainer button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.accountsContainer input[type="text"],
.accountsContainer input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

